apiVersion: apisix.apache.org/v2
kind: ApisixPluginConfig
metadata:
  name: access-control-apisix-opa-plugin-config
spec:
  plugins:
  - name: opa
    enable: true
    config:
      host: http://opa-service.default.svc.cluster.local:8000 # Point to OPA service.
      policy: AccessControl
